&soc {
	pinctrl@fd510000 {
		apds99xx_int_pin {
			qcom,pins = <&gp 94>;
			qcom,pin-func = <0>;
			qcom,num-grp-pins = <1>;
			label = "apds99xx-irq";
			apds99xx_default: apds99xx_default {
				drive-strength = <6>;
				bias-pull-up;
			};
	
			apds99xx_sleep: apds99xx_sleep {
				drive-strength = <2>;
				bias-pull-down;
			};
		};
	
		pmx_i2c_7 {
			qcom,pins = <&gp 43>, <&gp 44>; /* SDA, SCL */
			qcom,num-grp-pins = <2>;
			qcom,pin-func = <3>;
			label = "pmx_i2c_7";
	
			i2c_7_active: i2c_7_active {
				drive-strength = <2>;
				bias-disable;
			};
	
			i2c_7_sleep: i2c_7_sleep {
				drive-strength = <2>;
				bias-disable;
			};
		};
	
		mpu6050_int_pin {
			/* Gyroscope and accelerometer sensor combo */
			qcom,pins = <&gp 64>;
			qcom,pin-func = <0>;
			qcom,num-grp-pins = <1>;
			label = "mpu6050-irq";
			mpu6050_default: mpu6050_default {
				drive-strength = <6>;
				bias-pull-down;
			};
			mpu6050_sleep: mpu6050_sleep {
				drive-strength = <2>;
				bias-pull-down;
			};
		};

		pmx_tert_mi2s {
			qcom,pins = <&gp 74>, <&gp 75>;
			qcom,num-grp-pins = <2>;
			qcom,pin-func = <1>;
			label = "tert_mi2s";
			tert_mi2s_sleep: tert_mi2s_sleep {
				drive-strength = <2>;	/* 2 mA */
				bias-pull-down;		/* PULL DOWN */
			};
			tert_mi2s_active: tert_mi2s_active {
				drive-strength = <8>;	/* 8 mA */
				bias-disable;		/* NO PULL */
				output-high;
			};
		};

                pmx_tert_mi2s_mclk {
			qcom,pins = <&gp 73>;
			qcom,num-grp-pins = <1>;
			qcom,pin-func = <1>;
			label = "tert_mi2s_mclk";
			tert_mi2s_mclk_sleep: tert_mi2s_mclk_sleep {
				drive-strength = <2>;	/* 2 mA */
				bias-pull-down;		/* PULL DOWN */
			};
			tert_mi2s_mclk_active: tert_mi2s_mclk_active {
				drive-strength = <8>;	/* 8 mA */
				bias-disable;		/* NO PULL */
			};
		};

		pmx_tert_mi2s_sd0 {
			qcom,pins = <&gp 76>;
			qcom,num-grp-pins = <1>;
			qcom,pin-func = <1>;
			label = "tert_mi2s_sd0";
			tert_mi2s_sd0_sleep: tert_mi2s_sd0_sleep {
				drive-strength = <2>;	/* 2 mA */
				bias-pull-down;		/* PULL DOWN */
			};
			tert_mi2s_sd0_active: tert_mi2s_sd0_active {
				drive-strength = <8>;	/* 8 mA */
				bias-disable;		/* NO PULL */
			};
		};

		pmx_tert_mi2s_sd1 {
			qcom,pins = <&gp 77>;
			qcom,num-grp-pins = <1>;
			qcom,pin-func = <1>;
			label = "tert_mi2s_sd1";
			tert_mi2s_sd1_sleep: tert_mi2s_sd1_sleep {
				drive-strength = <2>;	/* 2 mA */
				bias-pull-down;		/* PULL DOWN */
			};
			tert_mi2s_sd1_active: tert_mi2s_sd1_active {
				drive-strength = <8>;	/* 8 mA */
				bias-disable;		/* NO PULL */
			};
		};

		pmx_quat_mi2s {
			qcom,pins = <&gp 58>, <&gp 59>;
			qcom,num-grp-pins = <2>;
			qcom,pin-func = <1>;
			label = "quat_mi2s";
			quat_mi2s_sleep: quat_mi2s_sleep {
				drive-strength = <2>;	/* 2 mA */
				bias-pull-down;		/* PULL DOWN */
			};
			quat_mi2s_active: quat_mi2s_active {
				drive-strength = <8>;	/* 8 mA */
				bias-disable;		/* NO PULL */
				output-high;
			};
		};

                pmx_quat_mi2s_mclk {
			qcom,pins = <&gp 57>;
			qcom,num-grp-pins = <1>;
			qcom,pin-func = <1>;
			label = "quat_mi2s_mclk";
			quat_mi2s_mclk_sleep: quat_mi2s_mclk_sleep {
				drive-strength = <2>;	/* 2 mA */
				bias-pull-down;		/* PULL DOWN */
			};
			quat_mi2s_mclk_active: quat_mi2s_mclk_active {
				drive-strength = <8>;	/* 8 mA */
				bias-disable;		/* NO PULL */
			};
		};

		pmx_quat_mi2s_sd0 {
			qcom,pins = <&gp 60>;
			qcom,num-grp-pins = <1>;
			qcom,pin-func = <1>;
			label = "quat_mi2s_sd0";
			quat_mi2s_sd0_sleep: quat_mi2s_sd0_sleep {
				drive-strength = <2>;	/* 2 mA */
				bias-pull-down;		/* PULL DOWN */
			};
			quat_mi2s_sd0_active: quat_mi2s_sd0_active {
				drive-strength = <8>;	/* 8 mA */
				bias-disable;		/* NO PULL */
			};
		};

		pmx_ess_int {
			qcom,pins = <&gp 8>, <&gp 33>, <&gp 34>, <&gp 25>, <&gp 107>;
			qcom,pin-func = <0>;
			qcom,num-grp-pins = <5>;
			label = "pmx_ess_int";

			ess_int: ess_int {
				drive-strength = <2>;
				bias-disable;
			};
		};

		pmx_ess_power_int {
			qcom,pins = <&gp 12>, <&gp 14>, <&gp 93>, <&gp 94>, <&gp 106>;
			qcom,pin-func = <0>;
			qcom,num-grp-pins = <5>;
			label = "pmx_ess_power_int";

			ess_power_int: ess_power_int {
				drive-strength = <2>;
				bias-disable;
			};
		};

	};
};