/* Copyright (c) 2014, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&soc {
	i2c_5: i2c@f9967000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "qcom,i2c-msm-v2";

		// TAS2552 at address 0x40
		tas2552_left: tas2552@40 {
			compatible = "ti,tas2552";
			status = "okay";
			reg = <0x40>;
			pinctrl-names = "default", "sleep";
			pinctrl-0 = <&tas2552_active>;
			pinctrl-1 = <&tas2552_sleep>;
			ti,enable-gpio = <&msm_gpio 0 GPIO_ACTIVE_HIGH>;
			ti,label = "amplifier_l";
			ti,gain = <0x1f>;
			ti,idle-timeout-ms = <20>;
			ti,max-runtime-ms = <15000>;
			interrupts = <0x89>;
			interrupt-parent = <&msm_gpio>;
		};

		// TAS2552 at address 0x41 (if applicable)
		tas2552_right: tas2552@41 {
			compatible = "ti,tas2552";
			status = "okay";
			reg = <0x41>;
			pinctrl-names = "default", "sleep";
			pinctrl-0 = <&tas2552_active>;
			pinctrl-1 = <&tas2552_sleep>;
			ti,enable-gpio = <&msm_gpio 1 GPIO_ACTIVE_HIGH>;
			ti,label = "amplifier_r";
			ti,gain = <0x1f>;
			ti,idle-timeout-ms = <20>;
			ti,max-runtime-ms = <15000>;
			interrupts = <0x89>;
			interrupt-parent = <&msm_gpio>;
		};
	};
};
